<!DOCTYPE html>
<html>
<head>
    <title>FWI Predictor</title>
</head>
<body>

    <h1>🔥 FWI Prediction Form 🔥</h1>

    <!-- Main Input Form for ML Prediction -->
    <form action="{{ url_for('predict_datapoint') }}" method="post">
        <input type="text" name="Temperature" placeholder="Temperature" required /><br><br>
        <input type="text" name="RH" placeholder="Relative Humidity (RH)" required /><br><br>
        <input type="text" name="Ws" placeholder="Wind Speed (Ws)" required /><br><br>
        <input type="text" name="Rain" placeholder="Rain" required /><br><br>
        <input type="text" name="FFMC" placeholder="Fine Fuel Moisture Code (FFMC)" required /><br><br>
        <input type="text" name="DMC" placeholder="Duff Moisture Code (DMC)" required /><br><br>
        <input type="text" name="ISI" placeholder="Initial Spread Index (ISI)" required /><br><br>
        <input type="text" name="Classes" placeholder="Fire Weather Class" required /><br><br>
        <input type="text" name="Region" placeholder="Region" required /><br><br>

        <button type="submit" class="btn btn-primary">Predict</button>
    </form>

    {% if results is defined %}
    <h2>🔥 The FWI Prediction is: {{ results }}</h2>
{% endif %}


</body>
</html>
